<h1 class="title is-1">Products</h1>
<%= render_breadcrumbs %>
<div id="Products">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
  <div class="ml-5 mr-5">
        <%= paginate @products %>
    </div>
</div>